<div class="table-responsive">
    <table class="table table-striped text-nowrap">
        <thead>
            <tr>
                <th (click)="sortBy(ID_NAME)">
                    <div [class.caret-up]="sorting[0] == ID_NAME && sorting[1] == 'des'"
                        [class.caret-down]="sorting[0] == ID_NAME && sorting[1] == 'as'">{{ ID_NAME }}</div>
                </th>
                <th (click)="sortBy(MOTHER_ID_NAME)">
                    <div [class.caret-up]="sorting[0] == MOTHER_ID_NAME && sorting[1] == 'des'"
                        [class.caret-down]="sorting[0] == MOTHER_ID_NAME && sorting[1] == 'as'">{{ MOTHER_ID_NAME }}</div>
                </th>
                <th (click)="sortBy(FATHER_ID_NAME)">
                    <div [class.caret-up]="sorting[0] == FATHER_ID_NAME && sorting[1] == 'des'"
                        [class.caret-down]="sorting[0] == FATHER_ID_NAME && sorting[1] == 'as'">{{ FATHER_ID_NAME }}</div>
                </th>
                <th *ngFor="let col of cols" (click)="sortBy(col)">
                    <div [class.caret-up]="sorting[0] == col && sorting[1] == 'des'"
                        [class.caret-down]="sorting[0] == col && sorting[1] == 'as'">{{ col }}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gen of gens">
                <td class="dropdown">
                    <span class="dropdown-toggle" data-bs-toggle="dropdown">{{ gen.id }}</span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="edit(gen.id)">Изменить</a></li>
                        <li><a class="dropdown-item" (click)="info(gen.id)">Просмотреть</a></li>
                        <li><a class="dropdown-item text-danger" (click)="delete(gen.id)">Удалить</a></li>
                    </ul>
                </td>
                <td>{{ gen.motherId }}</td>
                <td>{{ gen.fatherId }}</td>
                <td *ngFor="let col of cols">{{ gen.findInformation(col) }}</td>
            </tr>
        </tbody>
    </table>
</div>