<span class="text-body-secondary">Внимание! Если вы сохраните человека с уже существующим id, то старый будет полностью
    заменен новым.</span>
<div id="id-input">
    <div>
        <div class="my-2 d-flex">
            <span class="mx-1 h5">ID</span>
            <i-bs name="info-circle" [floatUi]="idInfo" [placement]="NgxFloatUiPlacements.RIGHTSTART"
                [hideOnScroll]="!0"></i-bs>
        </div>
        <input type="text" class="form-control" [class.is-invalid]="!isValid.id" (ngModelChange)="validateId($event)"
            placeholder="ID" [(ngModel)]="gen.id" />
        <div class="invalid-feedback">ID должен быть натуральным числом</div>
    </div>
    <div>
        <div class="my-2 d-flex">
            <span class="mx-1 h5">ID Матери</span>
            <i-bs name="info-circle" [floatUi]="idMotherInfo" [placement]="NgxFloatUiPlacements.RIGHTSTART"
                [hideOnScroll]="!0"></i-bs>
        </div>
        <input type="text" class="form-control" [class.is-invalid]="!isValid.motherId"
            (ngModelChange)="validateMotherId($event)" placeholder="ID Матери" [(ngModel)]="gen.motherId" />
        <div class="invalid-feedback">ID матери не должен совпадать с ID ребенка или ID отца. Также он должен быть
            натуральным числом</div>
    </div>
    <div>
        <div class="my-2 d-flex">
            <span class="mx-1 h5">ID Отца</span>
            <i-bs name="info-circle" [floatUi]="idFatherInfo" [placement]="NgxFloatUiPlacements.RIGHTSTART"
                [hideOnScroll]="!0"></i-bs>
        </div>
        <input type="text" class="form-control" [class.is-invalid]="!isValid.fatherId"
            (ngModelChange)="validateFatherId($event)" placeholder="ID Отца" [(ngModel)]="gen.fatherId" />
        <div class="invalid-feedback">ID отца не должен совпадать с ID ребенка или ID матери. Также он должен быть
            натуральным числом</div>
    </div>
</div>
<div id="gen-information">
    <span class="h5">Информация</span>
    <i-bs name="info-circle" [floatUi]="informationInfo" [placement]="NgxFloatUiPlacements.RIGHTSTART"
        [hideOnScroll]="!0"></i-bs>
    <button class="btn btn-primary ms-auto" (click)="addInformation()">Добавить поле</button>
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">Шаблоны</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="selectTemplate()">Пустой шаблон</a></li>
            <li *ngFor="let name of templateNames; let i = index"><a class="dropdown-item"
                    (click)="selectTemplate(name)">{{ name }}</a></li>
        </ul>
    </div>
</div>
<div *ngFor="let property of gen.information; let i = index; trackBy:trackByIndex" class="input-group">
    <input class="form-control" [(ngModel)]="property[0]" placeholder="Название характеристики">
    <span class="input-group-text">:</span>
    <input class="form-control" [(ngModel)]="property[1]" placeholder="Значение характеристики">
    <button class="btn btn-danger" (click)="removeInformationProperty(i)">Убрать</button>
</div>
<div id="gen-relations">
    <span class="h5">Связи с другими людьми</span>
    <i-bs name="info-circle" [floatUi]="relationsInfo" [placement]="NgxFloatUiPlacements.RIGHTSTART"
        [hideOnScroll]="!0"></i-bs>
    <button class="btn btn-primary ms-auto" (click)="addRelation()">Добавить поле</button>
</div>
<div *ngFor="let relation of gen.relations; let i = index; trackBy:trackByIndex">
    <div class="input-group">
        <input class="form-control" [(ngModel)]="relation[0]" placeholder="Название связи">
        <span class="input-group-text">:</span>
        <input class="form-control" [(ngModel)]="relation[1]" [class.is-invalid]="!isRelationsValid(i)"
            placeholder="ID'ы через запятую">
        <button class="btn btn-danger" (click)="removeRelation(i)">Убрать</button>
    </div>
    <div class="invalid-feedback d-block">Через запятую должны быть перечислены ID'ы, то есть натуральные числа</div>
</div>
<div id="gen-decision-panel">
    <button class="btn btn-outline-danger" (click)="cancel()">Отмена</button>
    <button class="btn btn-success" [class.disabled]="!isAllValid()" (click)="save()">Сохранить</button>
</div>