$enable-shadows: true;
$color-mode-type: media-query;
$accordion-button-focus-box-shadow: none;
@import '/node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/montserrat.ttf);
}

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#familytree {
  font-size: x-large;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.navbar-nav {
  overflow-x: scroll;
  @include hide-scroll();
}

body {
  font-family: 'Montserrat';
}

curtain-panel {
  position: fixed;
  top: 0;

  #curtain {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000060;
  }

  #panel {
    --w: 800px;
    --h: 600px;
    position: fixed;
    left: calc(50vw - var(--w) / 2);
    top: calc(50vh - var(--h) / 2);
    width: var(--w);
    height: var(--h);
    border-radius: 15px;

    @media screen and (max-width: 800px), (max-height: 720px) {
      --t: 52px;
      left: 0;
      top: var(--t);
      width: 100%;
      height: calc(100% - var(--t));
      border-radius: 0;
    }
  }
}

template-manager {
  height: 100%;
  display: block;
  overflow-y: scroll;
  @include hide-scroll();
}

templates {
  #control {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 15px;
  }

  #content {
    width: 100%;
  }
}

template-editor {
  display: grid;
  row-gap: 10px;
  padding: 15px;

  #template-decision-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}

gen-editor {
  display: grid;
  row-gap: 10px;
  padding: 15px;
  overflow-y: scroll;
  max-height: 100%;
  @include hide-scroll();

  #id-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }

  #gen-information {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 15px;
  }

  #gen-relations {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
  }

  #gen-decision-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 15px;
  }
}

gen-info {
  display: grid;
  row-gap: 30px;
  padding: 15px;
  overflow-y: scroll;
  max-height: 100%;
  @include hide-scroll();

  #id-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #info-information {
    display: grid;
  }

  #info-relations {
    display: grid;
  }
}

relational {
  user-select: none;

  td, th {
    max-width: 20vw;
    overflow-x: scroll;
    @include hide-scroll();
  }

  tr :first-child {
    overflow-x: visible;
  }
}

graph {
  display: block;
}

.table-responsive {
  padding-bottom: 100px;
  @include hide-scroll();
}