@use 'sass:string';
@use "/node_modules/ngx-float-ui/scss/theme.scss" as floatUiBaseTheme;

$enable-shadows: true;
$color-mode-type: media-query;
$accordion-button-focus-box-shadow: none;
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import './util.scss';

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/montserrat.ttf);
}

body {
  font-family: 'Montserrat';
  @include floatUiBaseTheme.ngx-float-ui-theme($body-bg, $body-color, 300px);

  @media (prefers-color-scheme: dark) {
    @include floatUiBaseTheme.ngx-float-ui-theme($body-bg-dark, $body-color-dark, 300px);
  }
}

.h5 {
  margin-bottom: 0;
}