<div id="control">
    <button class="btn btn-primary" (click)="newTemplate()">Новый шаблон</button>
    <span class="text-body-secondary ms-auto">Нажмите дважды по названию шаблона для его редактирования</span>
</div>
<div id="content">
    <div class="accordion accordion-flush" id="templates-accordion">
        <div *ngFor="let templ of templates; let i = index" class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" (dblclick)="edit(templ[0])" type="button" data-bs-toggle="collapse"
                    attr.data-bs-target="#template-collapse{{i}}" aria-expanded="false"
                    attr.aria-controls="template-collapse{{i}}">{{templ[0]}}</button>
            </h2>
            <div attr.id="template-collapse{{i}}" class="accordion-collapse collapse" data-bs-parent="#templates-accordion">
                <div class="accordion-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr *ngFor="let property of templ[1]">
                                <td>{{property}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger w-100" (click)="delete(templ[0])">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>